body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  
}

.header {
  justify-content: center;
  align-items: center;
  background: #4d4d4d;
  height: 150px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 58px;
}

a  {
  text-decoration: none;
  color: white;
  margin: 30px;
}

.header, .bio, .experience, .achievements, .training, .interests {
  display: flex;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.experience, .achievements, .training, .interests {
  background: white;
}

.img {
  background: url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
  /* background-size: cover; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 600px;
  height: 800px;
}

.intro {
  background: white;
  color: #222;
  width: 900px;
  font-size: 34px;
}

h3, h4, h5, p, li {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  list-style-type: square;
  line-height: 1.8;
}

h2, h1 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  position: absolute;
  left: 200px;
}

h2 {
  font-size: 60px;
  top: 440px;
}

h1 {
  font-size: 100px;
  top: 500px;
  line-height: 1;
}

.quote {
  width: 600px;
}

.text {
  margin-top: 80px;
  font-size: 30px;
  width: 900px;
}

h3 {
  font-size: 50px;
  text-transform: uppercase;
}

h4 {
  font-size: 40px;
  margin-bottom: 0;
}

h5 {
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-style: italic;
  margin-top: 0;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: white;
  background: #4d4d4d;
  font-size: 90px;
  padding: 80px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -72px;
  left: 0;
  font-size: 250px;
}